/*
    Incognito's experinmental:
    STYLE GUIDE - How to make your css classes more readable
    +-------------------------------------------------------------------------------------------------+
    |1. Content sizes (not font sizes), priority: margin. border, padding, width, height, etc         |
    |2. Font sizes, biggest header has priority                                                       |
    |4. Colors, priority goes, bg, fg(if there is a foreground color used), border, anything else.    |
    |                                                                                                 |
    |Others such as the z-index go last.                                                              |
    +-------------------------------------------------------------------------------------------------+
*/




/*
    GLOBAL CSS
    - Applies everwhere
*/

:root {
    /* COLORS */
    --bg-color: white;
    --fg-color: rgb(245, 245, 245);
    --detail-color: #cecece;
    --text-color: black;

    /* LIGHT MODE COLORS */
    --ld-bg-color: white;
    --l-fg-color: rgb(245, 245, 245);
    --l-detail-color: #cecece;
    --l-text-color: black;

    /* DARK MODE COLORS */
    --d-bg-color: rgb(22, 22, 22);
    --d-fg-color: rgb(59, 59, 59);
    --d-detail-color: #cecece;
    --d-text-color: white;

    /* SIZES */
    --sidenav-width:         10vw;
    --sidenav-offset:        11vw;
    --topnav-height:          4vh;
    --topnav-offset:          5vh;
    --main-font-size:      0.75vw;
    --hr-height:              2px;

    /* OTHER */
    --border: 1px solid #cecece;
    --content-padding: 0.5% 0.5% 0.5% 0.5%; /* TOP, RIGHT, BOTTOM, LEFT */
}

*{
    margin: 0;
    font-size: var(--main-font-size);

    color: var(--text-color);
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    align-items: center;
    overflow-y:hidden;
}

hr {
    height: var(--hr-height); /* uses border thickness even though its not a border*/
    background-color: var(--detail-color);
    border: none;
}





/* 
    CLASSES
    - Applies only to classes and their children.
*/

.sidenav {
    margin-top: 0;
    width: var(--sidenav-width); 
    height: 100%;

    background-color:  var(--fg-color);
    border-right: var(--border);
    
    float: left;
    position: fixed;
    z-index: 2;
    padding: var(--pad);
}

#sidenavtoggle {
    display: none;
}

.topnav {
    margin-left: var(--sidenav-offset);
    width: 100%;
    height: var(--topnav-height);

    background-color: var(--fg-color);
    border-bottom: var(--border);
    position: fixed;
    z-index: 1;

    padding: var(--content-padding);
}


/* Contains the interactibe content */
.content {
    margin-top: 5.5vh; /* Previous line of code does not offset correctly */
    margin-left: var(--sidenav-offset);
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5.5vh;
    width: 59%;
    height: 89vh;
    
    background-color: var(--bg-color);
    position: fixed;
    overflow-x: hidden;
}


/* Contrasts the content class */
.container {
    margin-top: 5%;
    padding: 25px;
    width: 94%;
    height: 100%;
    border-radius: 0.8%;

    background-color: var(--fg-color);
    border: var(--border);

    box-shadow: 2px;
}

.thumbnail-img {
    width: 20%; /* 20% the size of the inside of the container class */
}





/*
    MEDIA CSS
    - Applies to different sizes of screens
*/

@media screen and (max-width: 1920px) {
    :root {
        /* SIZES */
        --sidenav-width:         10vw;
        --sidenav-offset:        11vw;
        --topnav-height:          4vh;
        --topnav-offset:          5vh;
        --main-font-size:         1vw;
        --hr-height:              2px;
    
        /* OTHER */
        --border: 1px solid #cecece;
        --pad: 0.5% 0.5% 0.5% 0.5%; /* TOP, RIGHT, BOTTOM, LEFT */
    }
}

@media screen and (max-width: 850px) {
    :root {
        /* SIZES */
        --sidenav-width:         80vw;
        --sidenav-offset:         0vw;
        --topnav-height:          4vh;
        --topnav-offset:          5vh;
        --main-font-size:       2.4vw;
        --hr-height:              2px;
    
        /* OTHER */
        --border: 1px solid #cecece;
        --pad: 0.5% 0.5% 0.5% 0.5%; /* TOP, RIGHT, BOTTOM, LEFT */
    }

    .sidenav {
        display: none;
    }

    #sidenavtoggle {
        display: inherit;
    }

    .content {
        margin-top: 5.5vh; /* Previous line of code does not offset correctly */
        margin-left: var(--sidenav-offset);
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 5.5vh;
        width: 70%;
        height: 89vh;
        
        background-color: var(--bg-color);
        position: fixed;
        overflow-x: hidden;
    }
}