/*
    GLOBAL CSS
    - Applies everwhere
*/
:root {
    /* COLORS */
    --bg-color: white;
    --fg-color: rgba(245, 245, 245, 0.932);
    --border-color: #cecece;

    /* SIZES */
    --sidenav-width:         15%;
    --topnav-height:         10%;
    --main-font-size:     0.75vw;
    --border-thickness:      1px;

    /* OTHER */
    --border-style: solid;
}

*{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}





/*
    STANDARD ELEMENTS
    - Applies to paragraphs. breaks, etc.
*/
p, h1 {
    font-size: var(--main-font-size);
}

hr {
    height: var(--border-thickness); /* uses border thickness even though its not a border*/
    background-color: var(--border-color);
    border: none;
}

body {
    align-items: center;
    overflow-y:hidden;
}




/* 
    CLASSES
    - Applies only to classes and their children.
*/

/*
    Style guide:
    1. Content sizes (not font sizes), priority: margin. border, padding, width, height, etc
    2. Font sizes, biggest header has priority
    4. Colors, priority goes, bg, fg(if there is a foreground color used), border, anything else.

    Others such as the z-index go last.
*/


.sidenav {
    margin-top: 0;
    width: 15%; 
    height: 100%;

    background-color:  var(--fg-color);
    border-right: var(--border-thickness) var(--border-style) var(--border-color);
    
    float: left;
    position: fixed;
    z-index: 2;

    /* TOP, RIGHT, BOTTOM, LEFT */
    /*padding: 0.5% 0.75% 0.75% 0.5%;*/
}

.topnav {
    margin-left: 15%;
    width: 100%;
    height: 8vh;

    background-color: var(--fg-color);
    border-bottom: var(--border-thickness) var(--border-style) var(--border-color);
    position: fixed;
    z-index: 1;
    
    padding: 0.5% 0% 0.25% 0.5%;
}


/* Contains the interactibe content */
.content {
    margin-top: 8vh;
    margin-left: 15%;
    padding-left: 15%;
    padding-right: 90%;
    width: 100%;
    height: 100%;
    
    background-color: var(--bg-color);
    position: fixed;
    overflow-x: hidden;
}


/* Contrasts the content class */
.container {
    margin-top: 8vh;
    padding: 25px;
    width: 55%;
    height: 100%;
    border-radius: 0.8%;

    background-color: var(--fg-color);
    border: var(--border-thickness) var(--border-style) var(--border-color);

    box-shadow: 2px;
}

.thumbnail-img {
    width: 20%; /* 20% the size of the inside of the container class */
}